/*-- button style start (optimized & pruned for CleanAir India) --*/

.template-btn {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 12px 39px;
  background-color: #0095ff;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  color: #ffffff !important;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template-btn:hover,
.template-btn:focus {
  border: 1px solid #0095ff;
  background-color: transparent;
  color: #0095ff !important;
}
.template-btn.primary-bg {
  border: 1px solid transparent;
  background-color: #0062a6;
  color: #ffffff !important;
  transition: 0.3s;
  position: relative;
  z-index: 0;
  overflow: hidden;
  font-weight: 700;
}
.template-btn.primary-bg .btn-inner {
  display: inline-block;
}
.template-btn.primary-bg span {
  position: relative;
  z-index: 11;
  transition: opacity 0.6s, transform 0.8s;
  transition-timing-function: cubic-bezier(0.15, 0.85, 0.31, 1);
  color: #fff;
}
.template-btn.primary-bg span:nth-child(2) {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
  opacity: 0;
}
.template-btn.primary-bg:hover,
.template-btn.primary-bg:focus {
  background: #0062a6;
}
.template-btn.primary-bg:hover .btn-inner,
.template-btn.primary-bg:focus .btn-inner {
  transform: translateY(-150%);
}
.template-btn.primary-bg:hover span:nth-child(2),
.template-btn.primary-bg:focus span:nth-child(2) {
  transform: translate(-50%, 100%);
  opacity: 1;
}
.template-btn.primary-bg:hover span .btn-normal-text,
.template-btn.primary-bg:focus span .btn-normal-text {
  opacity: 0;
}
.template-btn.talk-btn {
  background: rgba(255, 255, 255, 0.15);
  transition: 0.3s;
  overflow: hidden;
  font-weight: 700;
}
.template-btn.talk-btn .btn-inner {
  display: inline-block;
}
.template-btn.talk-btn span {
  position: relative;
  z-index: 11;
  transition: opacity 0.6s, transform 0.8s;
  transition-timing-function: cubic-bezier(0.15, 0.85, 0.31, 1);
  color: #fff;
}
.template-btn.talk-btn span:nth-child(2) {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
  opacity: 0;
}
.template-btn.talk-btn:hover,
.template-btn.talk-btn:focus {
  border: 1px solid transparent;
  background: #ffffff;
  color: #111111;
}
.template-btn.talk-btn:hover .btn-inner,
.template-btn.talk-btn:focus .btn-inner {
  transform: translateY(-150%);
}
.template-btn.talk-btn:hover span:nth-child(2),
.template-btn.talk-btn:focus span:nth-child(2) {
  transform: translate(-50%, 100%);
  opacity: 1;
}
.template-btn.talk-btn:hover span .btn-normal-text,
.template-btn.talk-btn:focus span .btn-normal-text {
  opacity: 0;
}
.template-btn.talk-btn:hover span,
.template-btn.talk-btn:focus span {
  color: #111111;
}

.corporate-banner-btn {
  padding: 12px 39px;
  background: #0062a6;
  border-radius: 50px;
  max-width: 220px;
  width: 100%;
  margin: 0px auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: white !important;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  font-weight: 700;
}
.corporate-banner-btn .btn-inner {
  display: inline-block;
}
.corporate-banner-btn span {
  position: relative;
  z-index: 11;
  transition: opacity 0.6s, transform 0.8s;
  transition-timing-function: cubic-bezier(0.15, 0.85, 0.31, 1);
  color: #fff;
}
.corporate-banner-btn span:nth-child(2) {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
  opacity: 0;
}
.corporate-banner-btn span {
  color: white;
}
.corporate-banner-btn:hover .btn-inner,
.corporate-banner-btn:focus .btn-inner {
  transform: translateY(-150%);
}
.corporate-banner-btn:hover span:nth-child(2),
.corporate-banner-btn:focus span:nth-child(2) {
  transform: translate(-50%, 100%);
  opacity: 1;
}
.corporate-banner-btn:hover span .btn-normal-text,
.corporate-banner-btn:focus span .btn-normal-text {
  opacity: 0;
}
